body
{
	background: url('../images/background.png') right bottom fixed no-repeat, url('../images/background2.png') left top fixed no-repeat !important;
}

nav
{
	margin-bottom: 25px;
}

.cadre
{
	margin: 15px auto !important;
}

.extra.meta
{
	margin: 5px -5px;
}

.extra.meta>div
{
	padding: 2px 0;
}

.extra.content.social_network
{
	text-align: center;
}

.card.picture
{
	max-width: 200px;
	margin: auto;
	padding: 15px;
}

.ui.card>.content>.description,
.ui.cards>.card>.content>.description,
.ui.list .list>.item .description,
.ui.list>.item .description,
.ui.items>.item>.content p
{
	text-align: justify;
}

.ui.items>.item .meta *
{
	margin: .3em;
}

.ui.cards>.card
{
	width: 100% !important;
}

.ui.items:not(.unstackable)>.item>.image>img
{
	max-width: 150px !important;
}

.ui.card>.image>img, .ui.cards>.card>.image>img
{
	min-height: 150px;
}

.ui.indicating.progress
{
	position: relative;
}

.ui.indicating.progress>.title.label
{
	z-index: 1;
	position: absolute;
	top: -100%;
	left: 0px;
	text-align: left;
}

.ui.segment, .ui.segments .segment {
	border-top-width: 1px !important;
}

.ui.linkedin .icon
{
	color: #0077B5;
}

.ui.github .icon
{
	color: #000000;
}

.ui.google.plus .icon
{
	color: #dd4b39;
}

.ui.facebook .icon
{
	color: #3b5998;
}


@media (min-width: 992px) {
	.device.only {
		display: none !important;
	}
}

@media only screen and (max-width: 991px) {
	.ui.items>.item .meta *
	{
		margin: .1em 0 !important;
	}
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	.tablet.only {
		display: block !important;
		width: 55% !important;
	}
	.ui.items>.item>.image+.content {
		width: 35% !important;
	}
}

@media only screen and (max-width: 767px) {
	.mobile.only {
		display: block !important;
	}
}

@media only screen and (max-width: 767px) {
	.ui.items:not(.unstackable)>.item {
		flex-direction: initial;
	}
}

@media only screen and (max-width: 767px) {
	.ui.items:not(.unstackable)>.item>.image+.content {
		padding: 0 0 0 1em;
	}
}

.hide
{
	display: none !important;
}
